{{#each event}}
<div class="card" style="width: 30rem; float: left; margin-left:200px ;">
  <img class="card-img-top" src={{this.imglnk}} alt="Card image cap">
 
</div>
<div class="card" style="width: 30rem;margin: 300px 500px;">
 
  <div class="card-body" style="float:left;">
    <h1>{{this.name}}</h1>
    <h5>{{this.time}}</h5>
    <h5>{{this.venue}}</h5>
    <p class="card-text">{{this.dsc}}</p>

  </div>
</div>
{{/each}}